<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}Symfony{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/blog.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    {% block body %}
            <header>
                {% block header %}


                    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
                        <a style="color: black; text-decoration: none; font-size: 18px" href="{{ path('Buy_Produit') }}" class="my-0 mr-md-auto font-weight-normal">A Symfony Project</a>
                        <nav class="my-2 my-md-0 mr-md-3">
                                <a class="p-2 text-dark" href="{{ path('Buy_Produit') }}">Home <span class="sr-only">(current)</span></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a class="p-2 text-dark" href="{{ path('admin') }}">Admin</a>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <a class="btn btn-outline-danger logoutuser" href="{{ path('logout') }}"> {{ app.user.username }}</a>
                            {% else %}
                                <a class="btn btn-outline-primary" href="{{ path('login') }}">Login</a>
                            {% endif %}
                        </nav>
                    </div>

                {% endblock %}
            </header>
        <div class="container">
            <main>
                {% block main %}{% endblock %}
            </main>
            <footer>
                {% block footer %}
                    <p>Copyright &copy;2018</p>
                {% endblock %}
            </footer>
        </div>
    {% endblock %}
    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>
